@import url("https://fonts.google.com/specimen/Red+Hat+Display");


/* All fonts */
* {
    font-family: 'Red Hat Display', sans-serif;
    margin: auto;
}

h1 {
    display: flex;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(31,40,79);
}

.Description {
    text-align: center;
}
body {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: none;
    background-size: contain;
}

p {
    font-size: 18;
    font-weight: 500;
    color: grey;
    line-height: 30px;
}


.HeaderPic {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}

.text {
    display: flex;
    flex-flow: row wrap;
    width: 300;
}

.container {
  width: 500px;
  background-color: white; 
  border-radius: 25px;
  flex-direction: row;
}

.text {
    padding: 10px 50px;
    border: none;
    display: flex
}

/*All buttons functions in order*/
button {
    display: flex;
    border: none;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.Subscription {
    background-color:hsl(225, 100%, 98%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}


.Item1 {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.h2 {
    font-size: 18;
    font-weight: 500;
}

.Plan {
    margin-left: 0px;
    text-align: left;
}

.Item4 {
    display: flex;
    align-items: flex-end;
    margin-right: 5px;
    font-weight: bold;
    color: rgb(79, 72, 160);
    text-decoration: underline;
}

.Item4:hover {
    color: rgb(115, 107, 207);
    text-decoration: none;
}

button.Payment {
    /*button*/
    background-color: hsl(245, 75%, 52%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 10px hsl(228, 45%, 44%, 0.15);
    
    /*font*/
    color: white;
    font-weight: 700;
    font-size: 18;

}

.Payment:hover {
    opacity: 0.8;
}
button.Cancel {
    background-color: white;
    display:flex;
    justify-content: center;
    font-weight: 700;
    font-size: 18;
    color: grey;
}

.Cancel:hover {
    color: black;
}

.attribution {
    padding: 20px;
}

/*To make responsive to mobile*/
@media (max-width: 600px) {
    .container {
        width: 350px;
    }
}